html {
  
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
body {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  flex-wrap : nowrap;
  /* Removed flex-wrap */
}

.panel {
  flex: 0 0 100vw;
  width: 100vw;
  height: 100vh;
  flex-shrink: 0,
  border: 2px solid black; /* for debugging */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

/* fallback color if no class applied */
}


.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.lastContainer {
  display: flex;
  height: 100vh;
  background: yellow;
}


.red {
  background: blue;
}
.red {
  background: red;
}
.orange {
  background: orange;
}
.purple {
  background: purple;
}
.blue {
  background-color: blue;
}
